@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700;800&family=REM:wght@200;300;400;500;600;700;800&display=swap');

/* variables css */

:root {
  --clr-hueso: #eeeeff;
  --clr-sun: #ffbb00;
  --clr-night: #00081f;
  --clr-gray: #202020;
  --clr-turquesa: #00ffea;
  --clr-verde:#6ea146;
  --clr-azul:rgb(3, 39, 116);
  --clr-fondo: #f2f2f2;
  --clr-celeste:#0099ff;
  --clr-amarillo:rgb(198, 227, 92);
}

/* ajustes globales y principales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
  scroll-padding: auto;
  
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
/* header */

header {
  max-width: 1000px;
  width: 100%;
  margin: 0 20px;
  border-radius: 100px;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0019fc;
  overflow: hidden;
  top: 10px;
  z-index: 999;
}

/* Contenido del header */

/* marquesina */

.marquesina {
  width: 100%;
  background: var(--clr-fondo);
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  font-size: 0.7em;
  top: 0;
  z-index: 999999;
}

/* barra de navegacion con logo */

.c__navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  transition: 0.3s ease;
  z-index: 2;
  background-color: #000;
}

.c__navbar .fa-bars {
  display: none;
  color: var(--clr-hueso);
  font-size: 2em;
  margin-right: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.c__navbar .fa-bars:hover {
  color: var(--clr-celeste);
}

.c__navbar .c__logo {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover {
  cursor: pointer;
}

.c__navbar .c__logo p {
  color: white;
  font-size: 45px;
  font-weight: 500;
  transition: 0.3s ease;
}

.c__navbar .c__logo i {
  font-size: 45px;
  color: var(--clr-celeste);
  transform: rotateZ(10deg);
  margin-right: 3px;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover i {
  color: #ffffff;
  text-shadow: 1px 1px 12px var(--clr-celeste);
}

.c__navbar .c__logo:hover p {
  color: var(--clr-celeste);
  text-shadow: 0px 0px 3px #ffffff;
}

.c__navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0 20px;
  transition: 0.3s ease;
}

.c__navbar ul li {
  list-style: none;
}

.c__navbar ul li a {
  text-decoration: none;
  color: var(--clr-hueso);
  font-size: 0.95em;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.c__navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--clr-celeste);
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s;
}

.c__navbar ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

.c__navbar ul li a:hover {
  color: var(--clr-celeste);
}

.c__navbar ul li .active {
  color: var(--clr-celeste);
}

.video{
  width: 100%;
  height: 100%;
    margin-top: 4em;
}

.contactoForm {
  min-height: 100vh;
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.contactoForm::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

}

.sectionForm {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.containerForm {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  
}

.section-header {
  margin-bottom: 60px;
  text-align: center;
  
}

.section-header h2 {
  
  font-weight: bold;
  font-size: 3em;
  margin-top: 30px;
}



.mainForm  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {

  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}





.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media screen and (max-width: 991px) {
  .sectionForm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .mainForm {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}


.layout {
  width: 1000px;
  margin: auto;
}
.accordion {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--clr-amarillo);
  border-radius: 10px;
}
.accordion__question p {
  margin: 5px;
  padding: 0;
  font-family: Verdana;
  font-size: 20px;
}
.accordion__answer p {
  margin: 5px;
  padding: 10px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  background: rgb(65, 76, 70);
  border-radius: 10px;
}
.accordion__answer img {
  margin: 5px;
  padding: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 999;
}
.accordion:hover {
  cursor: pointer;
}
.accordion__answer {
  display: none;
}
.accordion.active .accordion__answer {
  display: block;
}


/*footer*/
.letraschicas{
  color:#767676;
  font-size:small;
  margin-bottom: 10px;
}
.c_redes{
  cursor: url("https://img.icons8.com/nolan/32/hand-cursor.png"), auto;
}
.linea {
  border-top: 1px solid #ffffff;
  height: 2px;
  max-width: 250px;
  padding: 0;
  margin-left: 610px;
}


footer {
  width: 100%;
  height: fit-content;
  background: rgb(0, 0, 0);
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .c__footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content:center;
  margin: 40px 0;
  overflow: hidden;
}

footer .siteMap {
  width: 400px;
  display: flex;
  flex-direction:column;
}

footer .siteMap h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .siteMap a {
  text-decoration: none;
  color: var(--clr-amarillo);
  margin-bottom: 10px;
}

footer .siteMap a:hover {
  color: #fff;
  font-weight: 100;
  transform: scale(1);
  transform: translateX(1px);
}

footer .map {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .map h3{
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px; 
}

.imgmap {
  display: flex;
  flex-direction: column;
  filter: brightness(0.5);
  align-items: center;
  width: 100%;
}

footer .redes {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .redes h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .c_redes {
  display: flex;
  gap: 20px;
}

footer .redes i {
  color: var(--clr-amarillo);
  font-size: 24px;
  margin-bottom: 30px;
}

footer .redes i:hover {
  color: #fff;
  transform: scale(1.2);
}



/*scroll barra lateral*/
body::-webkit-scrollbar{
  width: 15px;
}
body::-webkit-scrollbar-thumb{
  background-color:rgb(101, 101, 101);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: black;}


  @media screen and (max-width: 790px) {

  
    .preguntas {
      flex-direction: column;
      align-items: left;
      padding: 30% 15% 23% 23%;
    }
  
    .preguntas p {
      margin-bottom: 50px;
    }
  
    footer .c__footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    footer .map {
      padding-top: 20px;
    }
  
    footer .redes {
      padding-top: 20px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .seccion2 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .c__navbar {
      padding: 0 20px;
    }
  
    .c__navbar .fa-bars {
      display: block;
    }
  
    .c__navbar ul {
      display: none;
    }
  }