@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap');

/* variables css */

:root {
  --clr-hueso: #eeeeff;
  --clr-sun: #ffbb00;
  --clr-night: #00081f;
  --clr-gray: #202020;
  --clr-turquesa: #00ffea;
  --clr-verde:#6ea146;
  --clr-azul:rgb(3, 39, 116);
  --clr-fondo: #f2f2f2;
  --clr-celeste:#0099ff;
  --clr-amarillo:rgb(198, 227, 92);
}
/* ajustes globales y principales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-sun);
}

header {
  width: 100%;
  height: 90px;
  position: relative;
  background: var(--clr-night);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid #00eeff;
  overflow: hidden;
}

/* marquesina */

.marquesina {
  width: 100%;
  background: var(--clr-sun);
  color: var(--clr-gray);
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  font-size: 0.7em;
}

/* barra de navegacion con logo */

.c__navbar {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-even;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 20px;
  transition: 0.3s ease;
}

.c__navbar .fa-bars {
  display: none;
  color: var(--clr-hueso);
  font-size: 2em;
  margin-right: 10px;
  transition: 0.3s ease;
}

.c__navbar .c__logo {
  display: flex;
  align-items: center;
  margin: 0 70px 0 70px;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover {
  cursor: pointer;
}

.c__navbar .c__logo p {
  color: white;
  font-size: 45px;
  font-weight: 500;
  transition: 0.3s ease;
}

.c__navbar .c__logo i {
  font-size: 45px;
  color: #00eeff;
  transform: rotateZ(10deg);
  margin-right: 3px;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover i {
  color: #ffffff;
  text-shadow: 1px 1px 12px #00eeff;
}

.c__navbar .c__logo:hover p {
  color: var(--clr-turquesa);
  text-shadow: 0px 0px 3px #ffffff;
}

.c__navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0 20px;
  transition: 0.3s ease;
}

.c__navbar ul li {
  list-style: none;
}

.c__navbar ul li a {
  text-decoration: none;
  color: var(--clr-hueso);
  font-size: 0.95em;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.c__navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--clr-turquesa);
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s;
}

.c__navbar ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

.c__navbar ul li a:hover {
  color: var(--clr-turquesa);
}

.c__navbar ul li .active {
  color: var(--clr-turquesa);
}

/* main */

main {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background: #9e00c5;
}

.slider {
  width: 800px;
  height: 500px;
  margin: 20px;
  border-radius: 30px;
  position: relative;
  background: #000116;
  overflow: hidden;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s;
}

.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .slideInfo {
  width: 75%;
  position: absolute;
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 30px;
  padding: 20px 20px 30px 20px;
  left: 50px;
  bottom: 75px;
}

.slider .slide .slideInfo h2 {
  font-size: 2em;
  font-weight: 700;
}

.slider .slide .slideInfo p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 40px;
}

.slider .slide .slideInfo a {
  text-decoration: none;
  padding: 7px 15px;
  background: #000;
  color: var(--clr-hueso);
  border-radius: 30px;
}

.slider .slide .slideInfo a:hover {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
  transition: 0.1s ease;
}

.slider .navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.next-btn {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.prev-btn:hover,
.next-btn:hover {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
  color: var(--clr-hueso);
  transition: 0.1s ease;
}

.slider .navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}

.slider .navigation-visibility .slideIcon {
  width: 20px;
  height: 20px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  transform: translateY(-50px);
  margin: 0 7px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 5px 25px #202020;
}

.slider .navigation-visibility .slideIcon.active {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
}

/* media queryes */

@media screen and (max-width: 767px) {
  
  .c__navbar {
  justify-content: space-between;
  }

  .c__navbar .c__logo {
    margin-left: 10px;
  }

  .c__navbar .fa-bars {
    display: block;
  }

  .c__navbar ul {
    display: none;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #30336b;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;
}

.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
}

.pricing-card-header{
  background-color: #0fbcf9;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em #0fbcf9;
}

.price{
  font-size: 70px;
  color: #0fbcf9;
  margin: 40px 0;
  transition: .2s linear;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #fff;
}

.pricing-card li{
  font-size: 16px;
  padding: 10px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 80px;
  border: 2px solid #0fbcf9;
  color: #0fbcf9;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
}

.order-btn:hover{
  background-color: #0fbcf9;
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}
.letraschicas{
  color:#767676;
  font-size:small;
  margin-bottom: 10px;
}
.c_redes{
  cursor: url("https://img.icons8.com/nolan/32/hand-cursor.png"), auto;
}
.linea {
  border-top: 1px solid #ffffff;
  height: 2px;
  max-width: 250px;
  padding: 0;
  margin-left: 610px;
}


footer {
  width: 100%;
  height: fit-content;
  background: rgb(0, 0, 0);
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .c__footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content:center;
  margin: 40px 0;
  overflow: hidden;
}

footer .siteMap {
  width: 400px;
  display: flex;
  flex-direction:column;
}

footer .siteMap h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .siteMap a {
  text-decoration: none;
  color: var(--clr-amarillo);
  margin-bottom: 10px;
}

footer .siteMap a:hover {
  color: #fff;
  font-weight: 100;
  transform: scale(1);
  transform: translateX(1px);
}

footer .map {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .map h3{
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px; 
}

.imgmap {
  display: flex;
  flex-direction: column;
  filter: brightness(0.5);
  align-items: center;
  width: 100%;
}

footer .redes {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .redes h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .c_redes {
  display: flex;
  gap: 20px;
}

footer .redes i {
  color: var(--clr-amarillo);
  font-size: 24px;
  margin-bottom: 30px;
}

footer .redes i:hover {
  color: #fff;
  transform: scale(1.2);
}
  