@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap");
/* variables css */

:root {
  --clr-hueso: #eeeeff;
  --clr-sun: #ffbb00;
  --clr-night: #00081f;
  --clr-gray: #202020;
  --clr-turquesa: #00ffea;
  --clr-verde: #6ea146;
  --clr-azul: rgb(3, 39, 116);
  --clr-fondo: #f2f2f2;
  --clr-celeste: #0099ff;
  --clr-amarillo: rgb(198, 227, 92);
}

/* ajustes globales y principales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

/*scroll barra lateral*/
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(101, 101, 101);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

h1{
  text-align: center;
}
/* header */

header {
  max-width: 1000px;
  width: 100%;
  margin: 0 20px;
  border-radius: 100px;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0019fc;
  overflow: hidden;
  top: 10px;
  z-index: 999;
}

/* Contenido del header */

/* marquesina */

.marquesina {
  width: 100%;
  background: var(--clr-fondo);
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  font-size: 0.7em;
  top: 0;
  z-index: 999999;
}

/* barra de navegacion con logo */

.c__navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  transition: 0.3s ease;
  z-index: 2;
  background-color: #000;
}

.c__navbar .fa-bars {
  display: none;
  color: var(--clr-hueso);
  font-size: 2em;
  margin-right: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

.c__navbar .fa-bars:hover {
  color: var(--clr-celeste);
}

.c__navbar .c__logo {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover {
  cursor: pointer;
}

.c__navbar .c__logo p {
  color: white;
  font-size: 45px;
  font-weight: 500;
  transition: 0.3s ease;
}

.c__navbar .c__logo i {
  font-size: 45px;
  color: var(--clr-celeste);
  transform: rotateZ(10deg);
  margin-right: 3px;
  transition: 0.3s ease;
}

.c__navbar .c__logo:hover i {
  color: #ffffff;
  text-shadow: 1px 1px 12px var(--clr-celeste);
}

.c__navbar .c__logo:hover p {
  color: var(--clr-celeste);
  text-shadow: 0px 0px 3px #ffffff;
}

.c__navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0 20px;
  transition: 0.3s ease;
}

.c__navbar ul li {
  list-style: none;
}

.c__navbar ul li a {
  text-decoration: none;
  color: var(--clr-hueso);
  font-size: 0.95em;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.c__navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--clr-celeste);
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s;
}

.c__navbar ul li a:hover::after {
  width: 100%;
  opacity: 1;
}

.c__navbar ul li a:hover {
  color: var(--clr-celeste);
}

.c__navbar ul li .active {
  color: var(--clr-celeste);
}

/* main */

main {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f2f2f2;
}

/* slider */

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--clr-night);
  overflow: hidden;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s;
}

.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .slideInfo {
  width: 75%;
  position: absolute;
  color: var(--clr-amarillo);
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  padding: 20px 20px 30px 20px;
  left: 50px;
  bottom: 75px;
}

.slider .slide .slideInfo h2 {
  font-size: 2em;
  font-weight: 700;
}

.slider .slide .slideInfo p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 40px;
}

.slider .slide .slideInfo a {
  text-decoration: none;
  padding: 7px 15px;
  background: #000;
  color: var(--clr-hueso);
  border-radius: 30px;
}

.slider .slide .slideInfo a:hover {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
  transition: 0.1s ease;
}

.slider .navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.next-btn {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.prev-btn:hover,
.next-btn:hover {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
  color: var(--clr-hueso);
  transition: 0.1s ease;
}

.slider .navigation-visibility {
  z-index: -999;
  display: flex;
  justify-content: center;
}

.slider .navigation-visibility .slideIcon {
  width: 15px;
  height: 15px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  transform: translateY(-50px);
  margin: 0 7px;
  border-radius: 30px;
  box-shadow: 0 5px 25px #202020;
  z-index: 10;
}

.slider .navigation-visibility .slideIcon.active {
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
}

/* POr qué elegir Mobi */

.eleccion {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  border: solid 1px rgb(198, 227, 92);
  padding: 50px;
  width: 70%;
  margin: 20px auto 80px auto;
  box-shadow: 1px 2px 10px #535353ad;
}

.tittle1 {
  text-align: center;
  margin-right: 30px;
}
.red {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
}
.tilde {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
}
.reloj {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

/* Preguntas */

/*iconos que derivan a preg frecuentes*/
.preguntas {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: white;
  border-radius: 40px;
  border: solid 1px rgb(198, 227, 92);
  max-width: 1000px;
  width: 100%;
  height: fit-content;
  margin: 60px auto;
  box-shadow: 1px 2px 10px #5353535e;
}

.preguntas h2 {
  font-size: 1.3em;
}

.preguntas a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-celeste);
}

/* Mundo */

.infoMundo {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  background: #1f1f23;
  overflow: hidden;
  margin-bottom: 50px;
}

.infoMundo .contVideo {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.infoMundo .contVideo video {
  width: 100%;
  height: 90%;
  margin-left: 70px;
}

.infoMundo .contTexto {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.infoMundo .contTexto h2 {
  font-size: 2.7em;
  font-weight: 700;
  color: white;
}

.infoMundo .contTexto span {
  font-size: 28px;
  font-weight: 700;
  color: var(--clr-amarillo);
}

.infoMundo .contTexto p {
  font-size: 20px;
  color: white;
}
.linea1 {
  border-top: 1px solid rgb(255, 255, 255);
  height: 2px;
  max-width: 500px;
  padding: 0;
  margin: 0;
}

/* Elegí el Pack que más te convenga */

.h2Packs {
  text-align: center;
}

.seccionPacks {
  max-width: 1000px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.seccionPacks .contPack {
  width: 30%;
  height: fit-content;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #6b6b6b9c;
  border-radius: 10px;
  box-shadow: 0 0 10px #6d6d6d93;
}

.seccionPacks .contPack .figure {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.seccionPacks .contPack .figure img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
}

.seccionPacks .contPack .figure .capa {
  background: var(--clr-fondo);
  padding: 7px;
  border-radius: 0 0 10px 10px;
}

.seccionPacks .contPack .figure .capa h3 {
  font-size: 1em;
}

/* slider de productos */

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.product-category {
  padding: 0 10vh;
  font-size: 30;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.product-container {
  padding: 0 10vh;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
  display: none;
}
.product-card {
  flex: 0 0 auto;
  width: 300px;
  height: 450px;
  margin-right: 40px;
}
.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount-tag {
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: var(--clr-celeste);
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.card-btnn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  color: white;
  outline: none;
  background-color: black;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
}
.product-card:hover .card-btnn {
  opacity: 1;
}
.card-btnn:hover {
  background-color: var(--clr-amarillo);
  color: #000000;
  border: solid 1px black;
}
.pre-btnn,
.next-btnn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(95, 158, 160, 0);
  cursor: pointer;
  z-index: 9;
}
.pre-btnn {
  left: 0;
  transform: rotate(180deg);
}
.nxt-btnn {
  right: 0;
}
.pre-btnn img,
.nxt-btnn img {
  opacity: 1;
}
.collection-container {
  width: 100%;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.collection {
  position: relative;
}
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}
.collection:nth-child(4) {
  grid-column: span 2;
  margin-bottom: 10px;
}


/* Desctacados */

.seccion2 {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  margin: 0 auto 20px auto;
}

.seccion2 .contenedor {
  width: 250px;
  margin-right: 20px;
}

.seccion2 .contenedor figure img {
  width: 100%;
}

.contenedor1 {
  margin-bottom: 40px;
  margin-top: 0;
  float: left;
}

.contenedor1 figure {
  position: relative;
  height: 300px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.984);
  cursor: pointer;
  margin-top: 60px;
  margin-right: 20px;
 
}
.contenedor1 img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.contenedor1 figure .capa1 {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(157, 165, 167, 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.contenedor1 figure:hover > .capa1 {
  opacity: 1;
  visibility: visible;
}
.contenedor1 figure:hover > img {
  transform: scale(1.3);
}
.capa1 h3 {
  color: white;
  font-size: x-large;
  margin-top: 30px;
}
.button{
  color: black; 
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: grid;
  place-items: center;
  margin: auto;
  margin-bottom: 100px;
  width: 200px;
  
}
.button:hover{
  background: #0019fc;
  box-shadow: 0 0 15px #0019fc;
  color: white;
  transition: 0.1s ease;
}

/* marquesina de marcas */

.container {
  background-color: white;
  height: 50px;
  width: 100%;
  margin-bottom: 0;
}

/*banner*/
.banner{
  width: 100%;
  overflow: hidden;
}
main .banner img {
  width: 100%;
}


/* onda */

.wave {
  width: 100%;
}


/*footer*/
.letraschicas {
  color: #767676;
  font-size: small;
  margin-bottom: 10px;
}
.c_redes {
  cursor: url("https://img.icons8.com/nolan/32/hand-cursor.png"), auto;
}
.linea {
  border-top: 1px solid #ffffff;
  height: 2px;
  max-width: 250px;
  padding: 0;
  margin-left: 610px;
}

footer {
  width: 100%;
  height: fit-content;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .c__footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  overflow: hidden;
}

footer .siteMap {
  width: 400px;
  display: flex;
  flex-direction: column;
}

footer .siteMap h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .siteMap a {
  text-decoration: none;
  color: var(--clr-amarillo);
  margin-bottom: 10px;
}

footer .siteMap a:hover {
  color: #fff;
  font-weight: 100;
  transform: scale(1);
  transform: translateX(1px);
}

footer .map {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .map h3 {
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

.imgmap {
  display: flex;
  flex-direction: column;
  filter: brightness(0.5);
  align-items: center;
  width: 100%;
}

footer .redes {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .redes h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
}

footer .c_redes {
  display: flex;
  gap: 20px;
}

footer .redes i {
  color: var(--clr-amarillo);
  font-size: 24px;
  margin-bottom: 30px;
}

footer .redes i:hover {
  color: #fff;
  transform: scale(1.2);
}


/* media queryes */

@media screen and (max-width: 790px) {
  .eleccion {
    flex-direction: column;
    height: fit-content;
  }

  .infoMundo {
    flex-direction: column;
    height: fit-content;
    padding: 30px 0;
  }

  .infoMundo .contTexto h2 {
    font-size: 1.7em;
  }

  .infoMundo .contTexto p,
  .infoMundo .contTexto span {
    font-size: 1.2em;
  }

  .preguntas {
    flex-direction: column;
    align-items: left;
    padding: 30% 15% 23% 23%;
  }

  .preguntas p {
    margin-bottom: 50px;
  }

  footer .c__footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .map {
    padding-top: 20px;
  }

  footer .redes {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .seccion2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .c__navbar {
    padding: 0 20px;
  }

  .c__navbar .fa-bars {
    display: block;
  }

  .c__navbar ul {
    display: none;
  }
}
